node_modules/
.next/
next-env.d.ts
docs/*
!docs/security/
docs/security/*
!docs/security/dependency-log.md
local-docs/
explorer-base/
**/.DS_Store
.env
.env.local
.env.development
.env.production
.env.test
.env.test.local
koinosblocks/
yarn-error.log
